:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  --primary-color: #646cff;
  --primary-hover: #535bf2;
}

[data-theme="light"] {
  color: rgba(255, 25, 25, 0.87);
  background-color: #ffffff;
  --primary-color: #646cff;
  --primary-hover: #535bf2;
}

[data-theme="dark"] {
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  --primary-color: #646cff;
  --primary-hover: #535bf2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  min-height: 100vh;
  width: 100%;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--primary-color);
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: var(--primary-color);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  a:visited {
    color: #646cff;
  }
  button {
    background-color: #f9f9f9;
  }
}
